version: "2"
services:

 orchestrator:
  image: rtweed/qewd-server:latest
  container_name: orchestrator
  volumes:
    - ~/Repos/roqr:/opt/qewd/mapped
  ports:
   - 8080:8080

 auth:
  image: rtweed/qewd-server:latest
  container_name: auth
  volumes:
    - ~/Repos/roqr:/opt/qewd/mapped
  environment:
   - microservice=auth
  ports:
   - 8081:8080