version: '2'
services:

 orchestrator:
  image: rtweed/qewd-server:latest
  container_name: orchestrator
  volumes:
    - ~/Repos/roqr:/opt/qewd/mapped
  ports:
   - 8080:8080

 auth:
  image: rtweed/qewd-server:latest
  container_name: auth
  volumes:
    - ~/Repos/roqr:/opt/qewd/mapped
  environment:
   - microservice=auth
  ports:
   - 8081:8080

 repo:
  image: rtweed/qewd-server:latest
  container_name: repo
  volumes:
    - ~/Repos/roqr:/opt/qewd/mapped
  environment:
   - microservice=repo
  ports:
   - 8082:8080

 index:
  image: rtweed/qewd-server:latest
  container_name: index
  volumes:
    - ~/Repos/roqr:/opt/qewd/mapped
  environment:
   - microservice=index
  ports:
   - 6000:8080